<h1>Stupid coaching</h1>
<div class= "question-div">
<p><%= params[:ask] %></p>
<h5><em>- You</em></h5>
</div>
<br>
<div class= "answer-div">
<p><%= @answer %></p>
<h5><em>- Coach</em></h5>
</div>
<br>
<a href="/ask" class="link-info">Ask another question</a>
